# OS/IDE Files #
.DS_Store
.metadata/
## Eclipse:
.classpath
.project
.settings/
## IntelliJ:
*.iml
*.ipr
*.iws
.idea/

# Java classes #
*.class

# Package Files #
*.jar
*.war
*.ear

# Build folders #
bin/
target/
